In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('medical_students_dataset.csv')

In [5]:
df.sample(5)

,Student ID,Age,Gender,Height,Weight,Blood Type,BMI,Temperature,Heart Rate,Blood Pressure,Cholesterol,Diabetes,Smoking
17405,17406.0,29.0,Male,196.921475,47.515008,B,12.253062,99.489593,83.0,118.0,139.0,No,Yes
1541,1542.0,19.0,Female,165.610312,52.018785,A,18.966424,98.889982,71.0,139.0,202.0,No,No
93687,93688.0,23.0,NaN,173.559578,NaN,O,32.905368,98.420117,72.0,134.0,206.0,No,Yes
89859,89860.0,26.0,Male,170.592294,53.457002,O,18.369011,NaN,75.0,113.0,234.0,No,No
88979,88980.0,24.0,NaN,151.340904,66.457082,O,29.015404,98.895067,91.0,111.0,148.0,No,NaN

In [6]:
!pip install ydata-profiling --q

In [7]:
from pandas_profiling import ProfileReport

In [9]:
pr = ProfileReport(df)

In [10]:
pr.to_file('output.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]