In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('play_tennis.csv')

In [4]:
df

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [7]:
#P yes 
#P no

df['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [8]:
pyes= 9/14
pno = 5/14

In [9]:
print(pyes,pno)

0.6428571428571429 0.35714285714285715

In [10]:
#Outlook

pd.crosstab(df['outlook'],df['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [11]:
povercast_y = 4/9
povercast_n = 0/5

prain_y = 3/9
prain_n = 2/5

psunny_y = 2/9
psunny_n = 3/5

In [12]:
#temp

pd.crosstab(df['temp'],df['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [17]:
ptemp_cool_n = 1/5
ptemp_cool_y = 3/9

ptemp_hot_n = 2/5
ptemp_hot_y = 2/9

ptemp_mild_n = 2/5
ptemp_mild_y = 4/9

In [13]:
#humidity

pd.crosstab(df['humidity'],df['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [16]:
phumidity_high_n = 4/5 
phumidity_normal_y = 3/9
phumidity_high_n = 1/5
phumidity_normal_y = 6/9

In [14]:
#wind

pd.crosstab(df['wind'],df['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [15]:
pwindstrong_n = 3/5 
pwindstrong_y = 3/9

pwindweak_n = 2/5
pwindweak_y = 6/9

In [25]:
#Overcast	Cool	Normal	Strong	Yes

pyes = povercast_y * ptemp_cool_y * phumidity_normal_y * pwindstrong_n
print(pyes)

0.059259259259259255

In [26]:
# Rain	Mild	High	Strong	No

pno = prain_n * ptemp_mild_n * phumidity_high_n * pwindstrong_n
print(pno)

0.019200000000000005